* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Rose', cursive;
}

.Home {
  background: #282828;
  background-image: url(./componentes/imgs/Slogan.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12vh;
  background: #FFF;
}

.Navbar ul {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
}

.Navbar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  color: #F20505;
  height: 12vh;
  list-style: none;
  text-transform: uppercase;
  font-size: 20px;
}

.Navbar ul li:hover:nth-child(2),
.Navbar ul li:hover:nth-child(3),
.Navbar ul li:hover:nth-child(4),
.Navbar ul li:hover:nth-child(5),
.Navbar ul li:hover:nth-child(6) {
  background: #F20505;
  color: #FFF;
  cursor: pointer;
}

.Navbar ul li img {
  cursor: pointer;
}

.SocialMedia {
  width: 10%;
  height: 88vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  float: left;
}

.SocialMedia ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 44vh;
  list-style: none;
}

.SocialMedia ul li img {
  cursor: pointer;
}

.container {
  width: 80%;
  height: 88vh;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 90%;
}

.Sidebar {
  width: 10%;
  height: 88vh;
  float: left;
}

.Sidebar img {
  position: absolute;
  bottom: 15px;
  right: 15px;

  background: #BF0404;
  border-radius: 50%;
  padding: 1rem;

  cursor: pointer;
}

.Sidebar img:hover {
  background: #F20505;
}

.About {
  width: 100%;
  height: 100vh;
  background: #FFF;
  background-image: url(./componentes/imgs/backgground.png);
  background-size: cover;
  color: #FFF;
}

.About header {
  height: 25vh;
}

.About header h2 {
  text-align: center;
  font-size: 40px;
}

.About header p {
  width: 35%;
  text-align: justify;
  margin: 4rem;
  font-size: 18px;
}

.About section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About section img {
  width: 40%;
}

.About section:nth-child(2) {
  color: #282828;
  font-size: 18px;
  font-weight: bold;
}

.About section button:nth-child(3) {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #BF0404;
  border: none;
  cursor: pointer;
  margin: 0.2%;
}

.About section button:nth-child(4) {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #282828;
  border: none;
  cursor: pointer;
  margin: 0.2%;
}

.About section button:nth-child(5) {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #e7c607;
  border: none;
  cursor: pointer;
  margin: 0.2%;
}

.About footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.About footer p {
  width: 150px;
  height: 150px;
  background: #BF0404;
  transform: skew(-280rad);
  margin: 0.5rem;
  transition: 0.6s;
}

.About footer p:hover {
  transition: 0.6s;
  box-shadow: 8px 8px #F20505;
  margin: 0.5rem;
}

.About footer p img {
  margin: 1.5rem;
  width: 70%;
  transform: skew(280rad);
}

.Gallery{
  width: 100%;
  height: 100vh;
}

.Gallery h2{
  text-align: center;
  font-size: 60px;
}

.Pictures-1{
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.Pictures-1 .Paint-1{
  width: 35%;
  height: 280px;
  margin: 0.5rem;
  cursor: pointer;
}

.Pictures-1 .Paint-1 img{
  width: 100%;
  height: 280px;
  transition: 0.3s;
}

.Pictures-1 .Paint-1 img:hover{
  scale: 1.05;
  filter: grayscale(100%);
  transition: 0.3s;
}

.Pictures-1 .Paint-2{
  width: 65%;
  height: 280px;
  margin: 0.5rem;
  cursor: pointer;
}

.Pictures-1 .Paint-2 img{
  width: 100%;
  height: 280px;
  transition: 0.3s;
}

.Pictures-1 .Paint-2 img:hover{
  scale: 1.05;
  filter: grayscale(100%);
  transition: 0.3s;
}

.Pictures-2{
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.Pictures-2 .Paint-3{
  width: 55%;
  height: 350px;
  margin: 0.5rem;
  cursor: pointer;
}

.Pictures-2 .Paint-3 img{
  width: 100%;
  height: 350px;
  transition: 0.3s;
}

.Pictures-2 .Paint-3 img:hover{
  scale: 1.05;
  filter: grayscale(100%);
  transition: 0.3s;
}

.Pictures-2 .Paint-4{
  width: 45%;
  height: 350px;
  margin: 0.5rem;
  cursor: pointer;
}

.Pictures-2 .Paint-4 img{
  width: 100%;
  height: 350px;
  transition: 0.3s;
}

.Pictures-2 .Paint-4 img:hover{
  scale: 1.05;
  filter: grayscale(100%);
  transition: 0.3s;
}

.Contato{
  width: 100%;
  height: 100vh;
}

.Contato .Content{
  display: flex;
  flex-direction: row;
}

.Contato .Content .Banner{
  width: 50%;
}

.Contato .Content img{
  width: 100%;
  height: 100vh;
}

.Contato .Content .Formulario{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Contato .Content .Formulario h2{
  font-size: 36px;
  margin: 1rem;
  text-transform: uppercase;
}

.Contato .Content .Formulario input{
  width: 80%;
  height: 8vh;
  font-size: 18px;
  background: #D9D9D9;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
  outline: none;
}

.Contato .Content .Formulario textarea{
  width: 80%;
  height: 30vh;
  font-size: 18px;
  background: #D9D9D9;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
  outline: none;
  resize:none;
}

.Contato .Content .Formulario input[type=submit]{
  width: 80%;
  height: 8vh;
  font-size: 18px;
  background: #BF0404;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}

.Contato .Content .Formulario button:hover{
  background: #F20505;
}

.Footer{
  width: 100%;
  height: 30vh;
  background: #282828;
  color: #FFF;
  text-align: center;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.Footer .content{
  width: 25%;
}

.Footer .content h3{
  margin: 1rem;
}

.Footer .content p{
  font-size: 12px;
  line-height: 25px;
  color: #D9D9D9;
  cursor: pointer;
}

.Footer .content p:hover{
  color: #FFF;
}

.Footer .content img{
  margin: 1.5rem; 
  cursor: pointer;
}

.Footer .content span{
  color: #BF0404;
}